

.grid-top{
  display: grid;
  min-height: calc(100vh - 78px);
  position: relative;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.area-selection{
  height: 100%;
  cursor: pointer;
  /* pointer-events: none; */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: hsla(0,0%,100%,.7);
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid #329af070 !important;
  /* background: #329af040 !important; */
  background: #cfe5fc !important;
}

.area-selection input{
  display: block;
  border: 1px solid #329af0;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 3px;
  font-weight: bold;
  outline: none;
}

.area-selection button{
  /* display: block; */
  margin-top: 10px;
  outline: none;
}

#displayPreview{
  outline: none;
}

.area-selection button.cancelBoxBTN{
  opacity: .5;
}

.area-selection-inner{
  width: 65% !important;
  height: auto !important;
}

.skeletonGrid.cancel {
  /* background: rgba(245, 130, 48, 0.8); */
  background: #fff;
  border: none !important;
}

.cancel{
  /* background: repeating-linear-gradient(-55deg,var(--hatch-color,rgba(0,0,0,.1)),var(--hatch-color,rgba(0,0,0,.1)) 1.5px,var(--text-shadow-color,transparent) 0,var(--text-shadow-color,transparent) 4.5px)!important; */
}

.previewingBox .cancel{
  background: #FFF !important;
}

.previewingBox .skeletonGrid{
  border: none !important;
}

.previewBox{
  border: 1px solid #dfe3e7 !important;
}

.opPageContainer{
  margin: 0px;
  width: 75%;
  padding-right: 25px;
  /* padding-bottom: 25px; */
}

.opCreateOnePager{
  margin: 0px;
  width: 25%;
}

.opCreateOnePagerInfo{
  padding: 40px 70px;
}

.opCreateOnePagerInfo h3{
  margin-bottom: 10px;
}

.opCreateOnePagerInfo h5{
  font-weight: normal;
  font-size: 14px;
  opacity: .8;
  margin-bottom: 20px;
}

.opCreateOnePagerInfo input{
  outline: none !important;
}

.opCreateOnePagerInfo button{
  margin-top: 20px;
}

/* Grid Sizes */

.grid-container-skeleton {
  display: grid;
  min-height: calc(100vh - 78px);
  position: relative;
  /* grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
  /* grid-template-areas: "opB1 opB2 opB3 opB4" "opB5 opB6 opB7 opB8" "opB9 opB10 opB11 opB12"; */
  overflow: hidden;
}

.grid-container-skeleton.grid_4x4 {
  grid-template-areas: "opB1 opB2" "opB3 opB4";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.grid-container-skeleton .skeletonGrid {
  border: 1px dashed #dfe3e7;
  width: 100%;
  height: 100%;
}

.skeletonGrid[data-op-block-id="opB1"] {
  grid-area: opB1;
}
.skeletonGrid[data-op-block-id="opB2"] {
  grid-area: opB2;
}
.skeletonGrid[data-op-block-id="opB3"] {
  grid-area: opB3;
}
.skeletonGrid[data-op-block-id="opB4"] {
  grid-area: opB4;
}
.skeletonGrid[data-op-block-id="opB5"] {
  grid-area: opB5;
}
.skeletonGrid[data-op-block-id="opB6"] {
  grid-area: opB6;
}
.skeletonGrid[data-op-block-id="opB7"] {
  grid-area: opB7;
}
.skeletonGrid[data-op-block-id="opB8"] {
  grid-area: opB8;
}
.skeletonGrid[data-op-block-id="opB9"] {
  grid-area: opB9;
}
.skeletonGrid[data-op-block-id="opB10"] {
  grid-area: opB10;
}
.skeletonGrid[data-op-block-id="opB11"] {
  grid-area: opB11;
}
.skeletonGrid[data-op-block-id="opB12"] {
  grid-area: opB12;
}
